.profile{
    height:100px;
    width:100px;
    border-radius: 50%;
    margin: 20px 10px;        
}

.profile-container{
    flex: 0 0 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.queue-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;    
}

.join{
    padding: 20px;
    display: flex;
    justify-content: center;
}