<div >    
  <div *ngIf="!getMyStatus()" class="join">
    <button md-raised-button *ngIf="queue.status != 2" (click)="join()">
      Join Queue!
    </button>    
  </div>

  <div *ngIf="queue.status != 2" class="queue-container">
    <div *ngFor="let i of queue?.users" class="profile-container">      
      <div class="image-wrapper">
        <img class="profile" [src]="i.photoURL"/>        
        <button 
          *ngIf="i.uid == user.uid"
          md-mini-fab class="leave"
          (click)="leave()">
          +
        </button>
      </div>      
      <div>{{ i.displayName }}</div>
    </div>
  </div>

  <div *ngIf="getMyStatusAndGameStatus()" class="reset">
    <button md-raised-button (click)="reset()">Mark Game Finished</button>
  </div>  
</div>
